/*
body {
  width: 100%; height: 100%;
  margin: 0;
  background-image: url('img/Cupcake_stand_.jpg');
  background-size: cover;
  background-position: center;
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
  z-index: 0;
} */
.background {
  /* width: 100%; height: 100%; */
  /* margin: 0; */
  background-image: url('img/Cupcake_stand_.jpg');
  /* background-size: cover; */
/*   background-position: center; */
  /* image-rendering:optimizeSpeed; */
  /* image-rendering:-moz-crisp-edges; */
  /* image-rendering:-o-crisp-edges; */
  /* image-rendering:-webkit-optimize-contrast; */
  /* image-rendering:crisp-edges; */
  /* -ms-interpolation-mode:bicubic; */
  /* overflow: hidden; */
  /* z-index: 0; */
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 1504px; */
  height: 763px;
  top:  616px;
  left: 116px;
}

/* .cupcake12{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -78px -97px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
} */
/* .cupcake11{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -78px -203px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%; */
/* } */
.cupcake10{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -884px -357px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake9{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -501px -824px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake8{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -501px -668px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake7{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -501px -513px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake6{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -501px -357px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake5{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -501px -203px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake4{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -121px -824px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake3{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -121px -668px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake2{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -121px -513px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake1{
  position: absolute;
  background-image: url('img/cupcakeStripe2.jpeg');
  background-position: -121px -356px;
  width: 325px;
  height: 131px;
  top:  374px;
  left: 279px;
  background-size: 458%;
}
.cupcake0{
/*   position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px; */
}
.displayCupcakes{
  position: absolute;
  background-color: orange;
  /* width: 142px; */
  /* height: 20px; */
  top: 334px;
  left: 472px;
  text-align: center;
}
.click_btn{
  position: absolute;
  /* background-color: yellow; */
  /* width: 100px; */
  /* height: 50px; */
  top: 335px;
  left: 279px;
  /* text-align: center; */

}
.cash{
  position: absolute;
  /* background-color: green; */
  /* width: 100px; */
  /* height: 50px; */
  /* color: #fff; */
  top: 250px;
  left: 282px;
  /* text-align: center; */
}
.charBaker{

}
ul, li{
  list-style: none;
}
.buyer{
  position: absolute;
  background-image: url('img/charactersStripe.001.jpeg');
  width: 86px;
  height: 271px;
  top:  398px;
  left: 714px;
}
.customer1{
  background-position: -439px -1037px;
  top:  398px;
  left: 575px;
}
.customer2{
  background-position: -574px -1037px;
    top:  398px;
    left: 714px;
}
.customer3{
  background-position: -311px -1037px;
  top:  398px;
  left: 750px;
}
.ringUp{
  position: absolute;
  /* background-color: lightgreen; */
  /* width: 100px; */
  /* height: 50px; */
  top: 531px;
  left: 895px;
  text-align: center;
}



.time{
  position: absolute;
  /* background-color: lightblue; */
  /* width: 225px; */
  /* height: 22px; */
  top: 251px;
  left: 527px;
  text-align: center;
}


































