
body {
  width: 100%; height: 100%;
  margin: 0;
  background-image: url('img/tempBackground.001.jpeg');
  background-size: cover;
/*   background-position: center; */
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
  z-index: 0;

}

.cupcake12{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -97px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake11{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -203px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake10{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -309px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake9{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -415px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake8{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -521px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake7{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake6{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -97px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake5{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -203px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake4{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -309px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake3{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -415px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake2{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -521px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake1{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake0{
/*   position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px; */
}
.displayCupcakes{
  position: absolute;
  background-color: orange;
  width: 142px;
  height: 20px;
  top: 130px;
  left: -2px;
  text-align: center;
}
.click_btn{
  position: absolute;
  background-color: yellow;
  width: 100px;
  height: 50px;
  top: 100px;
  left: 100px;
  text-align: center;

}
.cash{
  position: absolute;
  background-color: green;
  width: 100px;
  height: 50px;
  top: 38px;
  left: 101px;
  text-align: center;
}



































