/*
body {
  width: 100%; height: 100%;
  margin: 0;
  background-image: url('img/Cupcake_stand_.jpg');
  background-size: cover;
  background-position: center;
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
  z-index: 0;
} */
.background {
  /* width: 100%; height: 100%; */
  /* margin: 0; */
  background-image: url('img/Cupcake_stand_.jpg');
  /* background-size: cover; */
/*   background-position: center; */
  /* image-rendering:optimizeSpeed; */
  /* image-rendering:-moz-crisp-edges; */
  /* image-rendering:-o-crisp-edges; */
  /* image-rendering:-webkit-optimize-contrast; */
  /* image-rendering:crisp-edges; */
  /* -ms-interpolation-mode:bicubic; */
  /* overflow: hidden; */
  /* z-index: 0; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 1504px;
  height: 763px;
  top:  616px;
  left: 116px;
}

.cupcake12{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -97px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake11{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -203px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake10{
  position: absolute;
  background-image: url('img/Cupcake_stand_.jpg');
  background-position: -117px -1040px;
  width: 104%;
  height: 117px;
  top:  345px;
  left: 268px;
}
.cupcake9{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -415px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake8{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -521px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake7{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -78px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake6{
  position: absolute;
  background-image: url('img/Cupcake_stand_.jpg');
  background-position: -117px -1040px;
  background-size: contain;
  width: 104%;
  height: 117px;
/*   background-size: 60%; */
  top:  345px;
  left: 268px;
}
.cupcake5{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -203px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake4{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -309px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake3{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -415px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake2{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -521px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake1{
  position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px;
}
.cupcake0{
/*   position: absolute;
  background-image: url('img/cupcakeCountStripe.001.jpeg');
  background-position: -432px -627px;
  width: 322px;
  height: 79px;
  top:  436px;
  left: 149px; */
}
.displayCupcakes{
  position: absolute;
  background-color: orange;
  /* width: 142px; */
  /* height: 20px; */
  top: 182px;
  left: 232px;
  text-align: center;
}
.click_btn{
  position: absolute;
  /* background-color: yellow; */
  /* width: 100px; */
  /* height: 50px; */
  top: 304px;
  left: 270px;
  /* text-align: center; */

}
.cash{
  position: absolute;
  /* background-color: green; */
  /* width: 100px; */
  /* height: 50px; */
  /* color: #fff; */
  top: 131px;
  left: 233px;
  /* text-align: center; */
}
.charBaker{

}
ul, li{
  list-style: none;
}
.buyer{
  position: absolute;
  background-image: url('img/charactersStripe.001.jpeg');
  width: 86px;
  height: 271px;
  top:  398px;
  left: 714px;
}
.customer1{
  background-position: -439px -1037px;
  top:  398px;
  left: 575px;
}
.customer2{
  background-position: -574px -1037px;
    top:  398px;
    left: 714px;
}
.customer3{
  background-position: -311px -1037px;
  top:  398px;
  left: 750px;
}
.ringUp{
  position: absolute;
  /* background-color: lightgreen; */
  /* width: 100px; */
  /* height: 50px; */
  top: 466px;
  left: 833px;
  text-align: center;
}



.time{
  position: absolute;
  /* background-color: lightblue; */
  /* width: 225px; */
  /* height: 22px; */
  top: 188px;
  left: 494px;
  text-align: center;
}


































